<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />

		<link rel="stylesheet" href="../static/css/amazeui.css" />
		<link href="../static/css/dlstyle.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

	<body tracingsrc="../static/images/big.jpg" tracingopacity="100">
        {% if login_fail %}
        <script>
            alert("用户名或密码错误，请重新登录！");
        </script>
        {% endif %}
        
		<div class="login-banner">
			<div class="login-main">
				<div class="login-banner-bg"><span></span><img src="../static/images/big.jpg" /></div>
				<div class="login-box">

							<h3 class="title">登录Easy-Watch</h3>

							<div class="clear"></div>
						
						<div class="login-form">
						  <form action="/login" method="POST">
							   <div class="user-name">
								    <label for="user"><i class="am-icon-user"></i></label>
								    <input type="text" id="uname" name="uname" placeholder="用户名" autofocus >
                 </div>
                 <div class="user-pass">
								    <label for="password"><i class="am-icon-lock"></i></label>
								    <input type="password" id="upass" name="upass" placeholder="请输入密码">
				 </div>
				 <div class="am-cf">
					<input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm">
				</div>
              </form>
           </div>
            
            <div class="login-links">
								<a href="/reg" class="zcnext am-fr am-btn-default">注册</a>
								<br />
            </div>
								

				</div>
			</div>
		</div>
					</div>
                    <div align="right"></div>
</body>
</html>