<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

		<title>个人中心</title>

		<link href="../static/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../static/css/amazeui.css" rel="stylesheet" type="text/css">

		<link href="../static/css/personal.css" rel="stylesheet" type="text/css">

		<script src="../static/js/jquery.min.js" type="text/javascript"></script>
		<script src="../static/js/amazeui.js" type="text/javascript"></script>
		
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><style type="text/css">
</style></head>

	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd">
									<p>欢迎回来！</p>
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage favorite">
								<div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
						</ul>
						</div>
					</div>
				</div>
			</article>
		</header>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap"></div>
			</div>

			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
					</li>
				</ul>

			</aside>
		</div>

	</body>

</html>